.enLinea{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botonDecorado{
    width:50%;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    text-decoration: none;
    color:var(--textColor);
    padding: 10px 10px;
    margin: 2em 1em;
    background-color: var(--bgbtn);
    border: 1px solid var(--bgbtn);
}


.border{
    border: 10px solid blue;
    text-align: center;
    padding: 1%;
    margin: 4% 0 0 0;
}

.monto{
    width: 100%;
    height: auto;
    text-align:left;
    background-color: aquamarine;
    padding: 1%;
    margin: 5% 0 0 0;
    color:blue; 

}

.filas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:1%;
    width: 100%;
    height: auto;
}

.columnas{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    /*margin-right: 25%;*/
}

input{
    margin: 1% 0 1% 0;
}
